.slider-img{
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 1px #444746;
    border-radius: 8px;
    overflow: hidden;
    height: 50px; 
}
.slider-img .img{
    min-width: 70px;    
    height: 48px;
    margin-right: 12px;
}
.slider-img .text h1{
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   width: fit-content;
   font-family: Google Sans, Arial, sans-serif-medium, sans-serif;
   margin-right: 12px;
   width: fit-content;
}
