.image-item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-grow: 1; /* Allow the image to grow if there is space */
  flex-basis: 200px; /* Base width for the image */
  max-width: 100%; /* Ensure the item container fits dynamically within available space */
  box-sizing: border-box;
}

.image-item .img {
  margin-bottom: 48px;
  height: 180px;
  width: 100%; /* Make sure the image fits within its container */
  height: auto;
  object-fit: cover; /* This ensures the image scales while maintaining its aspect ratio */
}

.image-item .content {
  position: absolute;
  width: 100%;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

.image-item .img img {
  height: 100%;
  width: auto; /* Ensures the image maintains its aspect ratio */
  object-fit: contain;
}