.img-item{
display: flex;
}
.img-item .img{

}




.img-item p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .2px;
    color: #fff !important;
}

.img-item h2 {
    color: #fff !important;
}