body{
    background-color: #1f1f1f;
}

.main-card::-webkit-scrollbar {
   /* visibility: hidden; */
   display: none;
}

.main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    white-space: nowrap;

    
}
.card-container {
    display: flex;
    flex-wrap: nowrap; /* Ensures the cards are in one line */
    overflow-x: auto; /* Allows horizontal scrolling if content overflows */
    gap: 20px;
  }
  .card-container::-webkit-scrollbar {
    height: 8px; /* Height of horizontal scrollbar */
    display: none;
  }

  .images-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  

  @media screen and (max-width: 767px){
    /* .images-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        width: 100%;
      }
      
      .images-list  .image-item  {
        width: 100%;
      }
      
      .images-list  .image-item:nth-child(odd) {
        grid-column: 1; 
      }
      
      .images-list  .image-item:nth-child(even) {
        grid-column: 2;
      }
      .images-list .image-item .img{
        height: 200px;
      }
      .images-list .image-item .img img{
        width: 100%;
        height: auto;
        max-width: 0;
        max-height: 0;
        min-width: 0;
        min-height: 0;
        object-fit: none;
      } */
      
  }